<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>register</title>
</head>
      <body>
<div class="index-home">
    <div class="index-bg"></div>
    <div class="index-content">
        <h1 class="index-title">Personal Expense Tracker</h1>
        <div class="auth-box">
                <form action="/register" method="post">
                    <div class="auth-input">
                        <input id="email-input" name="name" placeholder="Name" type="text">
                    </div>
                    <div class="auth-input">
                        <input id="email-input" name="email" placeholder="Email" type="text">
                    </div>
                    <div class="auth-input">
                        <input id="password-input" name="password" placeholder="Password" type="password">
                    </div>
                    <button type="submit" class="btn-submit">Register</button>
                      </form>
      </body>
 </html>
