<!DOCTYPE html>
<head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>buckets</title>
        <link rel ="stylesheet" type="text/css" href="C:\Users\Swetha\Desktop\swati\static.css">
</head>
    <body>
        <h1> IBM object storage</h1>
    <img src = "https://buck4.s3.jp-tok.cloud-object-storage.appdomain.cloud/download.jfif ">
    <img src = "https://buck4.s3.jp-tok.cloud-object-storage.appdomain.cloud/monopoly-1984400_1280.jpg">
    <img src = "https://buck4.s3.jp-tok.cloud-object-storage.appdomain.cloud/pp.jfif">
    <img src = "https://buck4.s3.jp-tok.cloud-object-storage.appdomain.cloud/smart-clothes.jpg" >
    <img src = "https://buck4.s3.jp-tok.cloud-object-storage.appdomain.cloud/unnamed.jpg">
    <style>
         b{
            text-align: center;
            color: blue;
            font-style: oblique;
         }
    </style><p><b>this is images we stored in object storage </b></p>
    <script>
        window.watsonAssistantChatOptions = {
          integrationID: "3fc9885e-3da8-47d1-85ea-ae9f92bd68ce", // The ID of this integration.
          region: "us-south", // The region your integration is hosted in.
          serviceInstanceID: "6b6a4fa6-a62a-4077-a0c8-c7a4af8e9874", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      </script>
      <div class="footer">
        <background-img src = "C:\Users\Swetha\Documents\download.png">
      </div>
    </body>
    </html>

    